body{
    background-image: url("/img/game-console-6603120_1920.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}


.headerContainer{
    display: flex;
    justify-content: space-between;

    width: 100%;
    height: 60px;
}
.tittle{
    padding-left: 30px;
}
.tittle h1{
    color: white;
}

.navigationBar ul > li{
    display: inline-block;
    padding-right: 30px;
    
}

.navigationBar ul img{
    height: 40px;
    width: 40px;
}

